.back-to-ceiling {
  right: 20px;
  bottom: 20px;
  line-height: 35px;
  background: #fff;
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #409eff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.back-to-ceiling.visible {
  opacity: 1;
  visibility: visible;
}

.back-to-ceiling:hover {
  background: #d5dbe7;
}

.back-to-ceiling .Icon {
  fill: #409eff;
  background: none;
}
